*{margin:0;padding:0; font-family: 'Lato', sans-serif;}

.footer small {
    margin-left: 23px;
    padding-bottom: 50px;
}

.row.footer li {
    float: left;
    list-style: none;
    margin: 11px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.bg2 button.btn.btn-default {
    margin-left: 10px;
    margin-right: 10px;
    height: 46px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.bg2 .col-xs-5.col-sm-5.col-md-5.col-lg-5.col-lg-offset-1 {
    margin-top: 27px;
}

.row.bg2 {
    height: 250px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../project\ 4/img/banner-bg.jpg);
    background-size: cover;
    color: white;
    font-weight: 900;
}

.bgcontent3 p {
    font-size: 18px;
}

.bgcontent3 h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

.row.bgcontent3 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f8f8f8;
}

.bgcontent2 p {
    font-size: 18px;
}

.bgcontent2 h3 {
    font-size: 30px;
    margin-bottom: 40px;
}

.row.bgcontent2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.bgcontent1 p {
    font-size: 18px;
}

.bgcontent1 h3 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 40px;
}

.row.bgcontent1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

nav.navbar.navbar-default {
    font-weight: bold;
    color: #777;
    margin-bottom: 0;
}
.navbar-brand{
    font-size: 14px;
}

.bg1{
    height: 726px;
    background-image: url(../project\ 4/img/intro-bg.jpg);
    color: white;
    background-size: cover;
}

.bg1-content{
    margin-top: 240px;
}

.bg1-content > h1{
    font-size: 5em;
    font-weight: 900;
}

.bg1-content > h3{
    font-weight: 700;
}
.bg1-content > button {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bgcontent1{
    height: 455px;
    background-color: #F8F8F8;
}

.hrngan{width: 50%;background: #E7E7E7;border-top: 3px solid #E7E7E7;margin-bottom: 40px;}

hr.hrngan {}